body {
    font-family: 'Libre Franklin', sans-serif;
    color: #FF45B8;
    font-size: 50px;
    text-align: center;
    background-color: black;
    background-image: url('NOWREADTHIS-WEBSITE-BACKGROUND.jpg');
    
}


span {
    font-style: italic;
    color: #40E9F2;

}

footer {
    background-color: #40E9F2;
    font-size: 22px;
    font-weight: 20px;
    font-variant-caps: all-small-caps;
    padding: 20px;
    border-style: solid;
    margin-top: 100px;
}

#search-section {
    font-family: 'Libre Franklin', sans-serif;
    color: #9147FC;
    text-align: center;
    display: inline-block;
    padding: 10px;
}


input {
    font-size: 30px;
    text-align: center;
    background-color:black;
    font-family: 'Libre Franklin', sans-serif;
    margin: 30px;
    display: inline-block;
    font-style: bold;
    border-style: solid;
    border-color: #40E9F2;
    color: #FF45B8;
    border-width: thick;

}



button {
    background-color: black;
    color: #FF45B8;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 29px;
    border-style: solid;
    border-color: #40E9F2;
    border-width: thick;
    
}

#search:hover {
    background-color: black;
    color: #40E9F2;
    border-style: solid;
    border-color: #FF45B8;
    border-width: thick;
}


h5 {
    
    font-weight: 20px; 
    font-size: 30px;
    
    
}

h6 {
font-family: 'Libre Franklin', sans-serif;
color: white;

}

#logoNow {
    padding-top: 50px;
    height: 300px;
}

::placeholder {
    color: #FF45B8;
}

#listArticles {
    display: inline-block;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    
}

img {
    height: 200px;
}

#dropdown {
    display: inline-block;

}
