h3 {
    
    font-weight: 20px; 
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #FF45B8;
    font-size: 50px;
    text-align: center;
    background-color: black;

}
span {
    font-size: 70px;
    color: #40E9F2;

}

footer {

    font-size: 22px;
    font-weight: 20px;
    font-variant-caps: all-small-caps;

}

form {
    font-family: 'Noto Sans JP', sans-serif;
    color: #9147FC;
    text-align: center;
    display: inline-block;
    padding: 10px;
}


input {
    font-size: 20px;
    color: #FF45B8;
    text-align: center;
    background-color: #40E9F2;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 30px;
    display: inline-block;
    


}

button {
    background-color: #9147FC;
    border: #40E9F2;
    color: #40E9F2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

a.hover {
    background-color: #FF45B8;
    color: #40E9F2;
}
/* Need to figure out the over. It is not highlighting like it should. */